#fade {
    position: fixed;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.85);
    z-index: 2;
}

#modal {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 85%;
    width: 65%;
    border-radius: 1rem;
    overflow: hidden;

    background-color: #1C1B22;
    z-index: 3;

    display: flex;
    flex-direction: column;
}

#modal-header {
    height: 10%;
    width: 100%;
    padding: 0.7rem 3.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2932;
}

#modal-close{
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(./images/Close\ Button\ Normal.svg);
    background-size: cover;
    background-position: center;
}
#modal-close:hover {
    background-image: url(./images/Close\ Button\ Hover.svg);
}

.modal-section {
    height: 90%; /* 90% da altura de #modal */
    width: 100%; /* 100% da largura de #modal */
    padding: 0.7rem 3.5rem;

    display: flex;
    flex-direction: row; 
}

.modal-descricao {
    height: 100%; /* 100% da altura de .modal-section */
    width: 35%; /* 35% da largura de .modal-section */
    padding-right: 1rem;
    border-right: 1px solid #ffffff; /* Marcação de separação */

    display: flex;
    flex-direction: column;
    text-align: justify;
}

.modal-midias {
    height: 100%; /* 100% da altura de .modal-section */
    width: 65%; /* 65% da largura de .modal-section */
    padding-left: 1rem;
    border-left: 1px solid #ffffff; /* Marcação de separação */

    display: flex;
    flex-direction: column;

    justify-content: center;
}

#modal-btn {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-hide {
    display: none;
}