@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    font-family: Source Code Pro,sans-serif;
    font-size: 3.5rem;
    word-spacing: -1rem;
    letter-spacing: -0.1rem;
    line-height: 0.95;

    padding: 0.5rem 0rem;
}
.corpo {
    font-family: Roboto,sans-serif;
    font-size: 1rem;     
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;

    padding: 0.5rem 0rem;
}
.destaque {
    color: #F092DD;
}

.espaco {
    background-color: #F092DD;
    height: 8vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
}

.circulo {
    background-color: #F092DD;

    width: 500px;      
    height: 500px;        
    border-radius: 50%;

    display: flex;
    justify-content: center;
}

.active {
    display: flex;
}

.home {
    flex-direction: row;

    justify-content: space-between; 
    align-items: center;
}

.skills
{
    flex-direction: column;
}

.experiencias {
    flex-direction: column;
}

.contato {
    flex-direction: column;
}

.sessao {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;

    font-family: Source Code Pro,sans-serif;
    font-size: 2rem;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    word-spacing: -1.5rem;
}

button {
    background: none; /* Remove o fundo padrão */
    border: none;     /* Remove a borda padrão */
    cursor: pointer;  /* Muda o cursor para pointer */
    padding: 0;       /* Remove o padding */
}

body {
    background: #1c1b22;
    color: #ffffff;

    display: flex;
    flex-direction: column;
}

header {
    background: #ffffff;
    position: fixed;
    height: 15vh;
    width: 100%;
    z-index: 1000;
}
section {
    display: none;
    padding: 1.5rem 10rem;
    height: 85vh;
    margin-top: 15vh;
}
footer {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #ffffff
}

ul {
    list-style: none;
}

nav ul li, #github {
    padding: 0.05rem 0.5rem;
    border-radius: 15px;
    transition: 0.2s;
}
nav ul li:hover {
    color: #F092DD;
    transition: 0.6s;
}
nav ul li.active, #github:hover {
    color: #1c1b22;
    background: #ffffff;
    transition: 1s;
}

#cabecalho {
    background: #1c1b22;
    padding: 1.5rem 10rem;

    height: 14.7vh;
    margin: 0;

    display: flex;
    flex-direction: row;

    justify-content: space-between; 
    align-items: center;
}
#nome {
    font-family: Bebas Neue, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#menu, #github {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-transform: uppercase;
}

#apresentacao {
    padding: 6rem 0rem;

    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#img-perfil {
    padding: 1.5rem 0rem;

    height: 100%;
    width: auto;

    display: flex;
    justify-content: flex-end;
}